---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=wayne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 71f34e23863da09d88cf54c2a287d04b
      X-Memc-Age:
      - '4278'
      X-Memc-Expires:
      - '22034'
      Etag:
      - W/"d16851701cbbb20ffd48f9c66cb8e881"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[80],"id":392468,"original_language":"en","original_title":"Wayne","overview":"Shadowed
        by a lifetime of brutal mistreatment, Wayne has a tendency to violently lash
        out when provoked. Recently released from prison, he has taken up residence
        in the bowels of a dilapidated theatre where he works the night shift as a
        janitor. With the help of his do-gooder social worker, Wayne is committed
        to controlling his temper, but when a gang of criminals push him too far,
        he chooses instead to utilize it.","popularity":0.6,"poster_path":null,"release_date":"2009-06-03","title":"Wayne","video":false,"vote_average":7.0,"vote_count":1},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":649175,"original_language":"en","original_title":"Wayne","overview":"After
        50 years of marriage, Wayne, an octogenarian with Alzheimer''s, seeks a forbidden
        love from his youth.","popularity":0.6,"poster_path":"/zX3blURaIze8gtAkp3Uvgr9xwry.jpg","release_date":"2015-06-21","title":"Wayne","video":false,"vote_average":0.0,"vote_count":0},{"adult":false,"backdrop_path":"/lELiuCg7dGY9cNWtYQTuPu41iYE.jpg","genre_ids":[99],"id"[...]
[...]
