---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<API Key>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - da14c0526e9ed3fa5ab3c5adbcd369c1
      X-Memc-Age:
      - '12498'
      X-Memc-Expires:
      - '14745'
      Etag:
      - W/"efe3ef1cc31bf7627ca845cf9b767a96"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Imprisoned in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","popularity":203.479,"poster_path":"/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg","release_date":"1994-09-23","title":"The
        Shawshank Redemption","video":false,"vote_average":8.706,"vote_count":26773},{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
       [...]
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/278?api_key=<API Key>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"bdad75cb1e4cc3769e9474e715503799"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg","belongs_to_collection":null,"budget":25000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"","id":278,"imdb_id":"tt0111161","origin_country":["US"],"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Imprisoned in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","popularity":203.479,"poster_path":"/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg","production_companies":[{"id":97,"logo_path":"/7znWcbDd4PcJzJUlJxYqAlPPykp.png","name":"Castle
        Rock Entertainment","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1994-09-23","revenue":28341469,"runtime":142,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Fear
        can hold you prisoner. Hope can set you free.","title":"The Shawshank Redemption","video":false,"vote_average":8.706,"vote_count":26772,"credits":{"cast":[{"adult":false,"gender":2,"id":504,"known_for_department":"Acting","name":"Tim
        Robbins","original_name":"Tim Robbins","popularity":23.258,"profile_path":"/3FfJMIVwXgsIXbAT8ECBSZJAncR.jpg","cast_id":3,"character":"Andy
        Dufresne","credit_id":"52fe4231c3a36847f800b131","order":0},{"adult":false,"gender":2,"id":192,"known_for_department":"Acting","name":"Morgan
        Freeman","original_name":"Morgan Freeman","popularity":69.681,"profile_path":"/905k0RFzH0Kd6gx8oSxRdnr6FL.jpg","cast_id":4,"character":"Ellis
        Boyd ''Red'' Redding","credit_id":"52fe4231c3a36847f800b135","order":1},{"adult":false,"gender":2,"id":4029,"known_for_department":"Acting","name":"Bob
        Gunton","original_name":"Bob Gunton","popularity":22.228,"profile_path":"/ulbVvuBToBN3aCGcV028hwO[...]
