---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4f8f035b150e014320f5fc7d062625f4
      X-Memc-Age:
      - '11157'
      X-Memc-Expires:
      - '11159'
      Etag:
      - W/"7ab2b865c31cd547578be6d495c35fdc"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/wu1uilmhM4TdluKi2ytfz8gidHf.jpg","genre_ids":[10751,16,14,12,35],"id":400160,"original_language":"en","original_title":"The
        SpongeBob Movie: Sponge on the Run","overview":"When his best friend Gary
        is suddenly snatched away, SpongeBob takes Patrick on a madcap mission far
        beyond Bikini Bottom to save their pink-shelled pal.","popularity":61.132,"poster_path":"/jlJ8nDhMhCYJuzOw3f52CP1W8MW.jpg","release_date":"2020-08-14","title":"The
        SpongeBob Movie: Sponge on the Run","video":false,"vote_average":7.497,"vote_count":2764},{"adult":false,"backdrop_path":"/a2pORKd7quQ0kn4GhhwLwbGoDqz.jpg","genre_ids":[16,35,12],"id":1088812,"original_language":"en","original_title":"SpongeBob
        SquarePants Presents The Tidal Zone","overview":"GrandPat travels through
        alternate dimensions and timelines to get home.","popularity":31.521,"poster_path":"/c0LRmNW4Rsu5086CswtrueFoAdz.jpg","release_date":"2023-01-13","title":"SpongeBob
        SquarePants Presents The Tidal Zone","video":false,"vote_average":7.0,"vote_[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=2&query=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 7b81dd40d87fad5bbe6a59c3a2633213
      X-Memc-Age:
      - '19149'
      X-Memc-Expires:
      - '8199'
      Etag:
      - W/"19682cdda1d920527b8594f670916e14"
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":"/iLIxJ9YjKnfafBGqwUoFrkYG3nA.jpg","genre_ids":[10751,16,35,10770],"id":299082,"original_language":"en","original_title":"SpongeBob
        SquarePants: Spongebob''s Last Stand","overview":"In the never-before seen
        special episode, \"SpongeBob''s Last Stand\", all chaos breaks loose in Bikini
        Bottom when SpongeBob and Patrick hear that a new highway will be running
        through Jellyfish fields, outraged they decide to protest; SpongeBob style.","popularity":3.831,"poster_path":"/2mwMjhi3ermw5xskrrCVO17wwL4.jpg","release_date":"2010-03-16","title":"SpongeBob
        SquarePants: Spongebob''s Last Stand","video":true,"vote_ave[...]
