---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=Great
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - cd3f5d0545c5f24cb2202b78addc6789
      X-Memc-Age:
      - '411'
      X-Memc-Expires:
      - '27112'
      Etag:
      - W/"44036f78ce27c51f13efe9e9287d90bf"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/gOkK6Y1QazWgA9Pf9ZiT3QLxRBZ.jpg","genre_ids":[80,18,28],"id":957992,"original_language":"zh","original_title":"军火大劫案","overview":"The
        Great Arms Robbery","popularity":21.699,"poster_path":"/ronrzgFs2FOk0R4BAZgyLaYdhua.jpg","release_date":"2022-04-09","title":"The
        Great Arms Robbery","video":false,"vote_average":6.9,"vote_count":34},{"adult":false,"backdrop_path":null,"genre_ids":[16,36,99],"id":208561,"original_language":"en","original_title":"Great","overview":"An
        animated film about the British engineer Isambard Kingdom Brunel, who spearheaded
        numerous engineering marvels of the early 19th century - including the Thames
        Tunnel, the Great Western Railway, and the Great Eastern steamship (for 40
        years the world''s largest steamship). Various styles of animation are used
        to depict[...]
[...]
