---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=Great
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - cd3f5d0545c5f24cb2202b78addc6789
      X-Memc-Age:
      - '11051'
      X-Memc-Expires:
      - '16737'
      Etag:
      - W/"c3c2a684a7ae306cecf5af38e066e628"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[16,36,99],"id":208561,"original_language":"en","original_title":"Great","overview":"An
        animated film about the British engineer Isambard Kingdom Brunel, who spearheaded
        numerous engineering marvels of the early 19th century - including the Thames
        Tunnel, the Great Western Railway, and the Great Eastern steamship (for 40
        years the world''s largest steamship). Various styles of animation are used
        to depict events in his colorful life.","popularity":5.348,"poster_path":"/xn7pcWqkXjfUtDNIzWjPq6On2ZP.jpg","release_date":"1975-03-17","title":"Great","video":false,"vote_average":5.593,"vote_count":75},{"adult":false,"backdrop_path":null,"genre_ids":[18,10752,35],"id":339566,"original_language":"en","original_title":"Great","overview":"Did
        the Nazis ever see Charlie Chaplin''s ''The Great Dictator''? Yugoslavia,
        1942 - The young Serbian projectionist Nikola Radosevic decides to teach the
        German oppressors a lesson they won''t forget. The beginning of a true and
        astonishing World War II resistance story.","popularity":3.158,"poster_path":"/bpp6lLfkROmYn6VzlFg[...]
[...]
